.layout__menu-toggle {
    display: none;
}

@media (max-width: 1490px) {

    body {
        padding: 0;
    }

    .layout {
        min-width: auto;
        width: 85%;
    }
}

@media (max-width: 1320px) {
    .layout {
        width: 89%;
        margin-left: 3rem;
    }
}

/* @media (max-width: 11600px) {
    .layout {
        width: 85%;
        margin-left: 4rem;
    }

    .certificates__certificate {
        flex-basis: 100%;
    }
} */

@media (max-width: 1060px) {
    
    body {
        background-image: none;
        position: static;
    }

    .layout {
        width: 100%;
        height: 100%;
        min-height: 100%;
        margin: 1rem;
        border-radius: 0;

        grid-template-areas: "content";
        grid-template-columns: 100%;
    }

    .layout__menu-toggle {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
        width: 4.8rem;
        height: 4.8rem;
        line-height: 4.8rem;
        font-size: 2.5rem;
        text-align: center;
        background-color: var(--green-main);
        color: var(--white-main);
        border-radius: 3rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    .fa-xmark {
        display: none;
    }
    

    .layout__aside {
        display: none;
    }

    .layout__content {
        border-radius: 0;
        background-color: transparent;
        height: 100%;
        width: 100%;
    }

    .content__page {
        border-radius: 0;
        height: 100vh;
    }

    .layout__menu {
        position: static;
    }

}

/* @media (max-width: 800px) {



} */

@media (max-width: 585px) {

    .about__personal-info {
        display: flex;
        flex-direction: column;
    }

    .personal-info__data {
        flex-basis: 100%;
        padding: 0;
        margin-top: 2rem;
        text-align: center;
    }

    .professional__container {
        flex-direction: column;
    }

    .professional__job {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .skills__list {
        flex-direction: column;
    }

    .extra__container{
        display: none;
    }

    .training__rigth {
        flex-basis: 80%;
        padding: 0 1.5rem;
    }

    /* .training__subheader {
        border: solid 1px red;
        display: inline-block;
        position: relative;
        margin-bottom: 2.5rem;
    } */
    
    .training__subtitle {
        font-size: 2.1rem;
        margin-top: 1rem;
    }

    .training__container {
        display: flex;
        flex-direction: column;
    }

    .training__certificates {
        margin-bottom: 5rem;
    }
    

}

@media (max-width: 480px) {
    .user-info__name {
        border: solid 1px red;
        font-size: 4.8rem;
        line-height: 5.6rem;
        text-align: center;
    }

    .briefcase__option {
        font-size: 1.1rem;
        opacity: 0.7;
    }

    .certificate__logo {
        width: 100%;
    }

    .gallery__item {
        flex-basis: 100%;
    }

    .articles__article {
        flex-basis: 100%;
    }
    
    .article__mask {
        height: 10rem;
    }

    .article__bottom {
        margin: 0;
        padding: 1.5rem;    
        border: 0.1rem solid var(--grey-main);
        border-top: none;
    }

    .form-header__title {
        font-size: 2rem;
    }

    .form-header__title::after {
        display: none;
    }

    .contact__container {
        flex-direction: column;
    }

    .form__container {
        display: flex;
        flex-direction: column;
    }

    .form__left {
        flex-basis: 100%;
        margin-right: 0;
    }

    .form__right {
        flex-basis: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    
}