/* DEFINICIÓN DE VARIABLES */ 
:root {
    --green-main: #4DB6AC;
    --white-main: #ffff;
    --black-main: #333333;
    --grey-main: #666666;
    --color-background: #F2F7F9;
    --color-transparent: transparent;
    --grey-secondary: #888;
    --color-text: #555;
}


/** GENERAL STYLES **/ 

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-text);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black-main)
}

/* Background img */

body {
    background-image: url("../assets/images/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px 120px;
}


/** LAYOUT **/ 

.layout {
    position: relative;
    min-width: 1200px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgb(0, 0, 0, 0.25);
}

/** SIDEBAR **/

.layout__aside {
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}

.aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;
    background-color: var(--green-main);
    color: var(--white-main)
}

.user-info__container-image {
    position: relative;
    display: inline-block;
    width: 20rem;
    margin-top: 7rem;
    z-index: 1;
}

.user-info__container-image::after {
    z-index: -1;
    content: "hola";
    position: absolute;
    top: 5%;
    left: 9%;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, var(--white-main), var(--white-main) 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.4;
    border-radius: 30rem;

}

.user-info__image {
    width: 100%;
    background-color: var(--white-main);
    border-radius: 20rem;
}

.user-info__name {
    margin-top: 2.6rem;
    font-weight: bolder;
    text-align: center;
    font-size: 3.2rem;
    color: var(--black-main);
}

.user-info__job {
    font-size: 2rem;
    color: var(--black-main);
    font-weight: bold;

}

.user-info__links {
    margin-bottom: 3.6rem;
}

.links__social {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.social__option {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}

.social__option:hover {
    color: var(--black-main);
}

.user-info__buttons {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.user-info__btn {
    
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-radius: 3rem;
    border: 2px solid var(--white-main);
    color: var(--white-main);
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 20%);
    font-weight: bolder;
    transition: all 300ms ease-in-out;
}

.user-info__btn:hover {
    background-color: var(--white-main);
    color: var(--green-main)
}

.user-info__footer {
    position: absolute;
    bottom: 5rem;
    font-size: 1.2rem;
    color: var(--white-main)
}

/** MAIN CONTAINER **/

.layout__content {
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--green-main);
    border-radius: 0 10rem 10rem 0;
}

.content__page {
    min-height: 100%;
    background-color: var(--white-main);
    border-radius: 3.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    color: var(--black-main);
}

.page__job {
    font-size: 3rem;
    font-weight: bold;
    color: var(--grey-main);
}


/** SIDE NAVIGATION MENU **/

.layout__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100px;
    min-width: 11rem;
    background-color: var(--color-transparent);
}


.menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-main);
    width: 60%;
    min-height: 32rem;
    box-shadow: 0 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 6rem;
    padding: 2rem 0;
    margin-left: 2.5rem;
    transition: 300ms ease-in-out;
}


.menu__option:hover .menu__icon {
    color: var(--black-main);
}


.menu__icon {
    color: var(--green-main);
    font-size: 2.8rem;
    transition: all 500ms ease-in-out;
}

.menu__overlay {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: -3rem;
    opacity: 0;
    padding: 0.5rem 1rem;
    display: block;
    color: var(--black-main);
    background-color: var(--green-main);
    white-space: nowrap;
    color: var(--white-main);
    font-weight: bold;
    transition: all 500ms ease-in-out;
    border-radius: 1.5rem;
}


.menu__option:hover .menu__overlay {
    opacity: 1;
    right: 100%;
}

/** GENERAL STYLES ABOUT ME, TRAINING**/

.content__about,
.content__resume {
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem ;
    overflow: auto;
}

.about__header,
.resume__header {
    display: inline-block;
    margin-bottom: 4.5rem;
}

.about__title,
.resume__title {
    font-size: 4rem;
    position: relative;
    color: var(--black-main)
}

.about__title::after,
.resume__title::after {
    content:"";
    position: absolute;
    top: 30px;
    right: -25px;
    width: 40px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--green-main), var(--green-main) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

.title__color {
    color: var(--green-main)
}

/** PERSONAL INFORMATION **/ 

.about__personal-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;
}

.personal-info__bio {
    
    flex-basis: 56%;
}


.personal-info__description {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: var(--black-main);
    text-align: justify;
}

.personal-info__data {
    display: flex;
    justify-content: center;
    flex-basis: 44%;
    padding: 0 1.5rem;
}

.personal-info__option {
    margin-bottom: 1rem;
}

.personal-info__title {
    font-size: 1.5rem;
    color: var(--black-main);
    font-weight: 600;
    margin-right: 1rem;
}

.personal-info__value {
    font-size: 1.5rem;
    color: var(--green-main);
    font-weight: 600;
}

.personal-info__link:hover {
    border-bottom: solid 1px var(--green-main);
}



/** PROFESIONAL INFORMATION **/ 

.about__professional,
.about__education {
    width: 100%;
    margin-bottom: 3rem;
}

.professional__header,
.education__header,
.skills__header,
.extra__header,
.training__subheader {
    display: inline-block;
    position: relative;
    margin-bottom: 2.5rem;
}

.professional__title,
.education__title,
.training__subtitle {
    font-size: 2.5rem;
}

.professional__title::after,
.education__title::after,
.extra__title::after,
.skills__title::after,
.training__subtitle::after{
    content:"";
    position: absolute;
    top: 18px;
    right: -19px;
    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--green-main), var(--green-main) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

.professional__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.professional__job {
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 1.5rem;
}

.job__real-icon {
    color: var(--green-main);
    font-size: 3rem;
}

.job__content-title {
    margin: 1rem 0;
    color: var(--black-main);
    font-size: 1.8rem;
    font-weight: bold;
}

.job__description {
    font-size: 1.6rem;
    color: var(--black-main);
    text-align: justify;
    line-height: 2.4rem;
}

/** EDUCATION INFORMATION **/ 


.education__container {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.education__education {
    
    flex-basis: calc(50% - 2.5rem);
    padding: 0 2.5rem 0rem 0rem;
    margin: 1rem 0;
    
}

.education__image--container {
    width: 100%;
}

.education__image {
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 9rem;
    box-shadow: 0px 10px 10px -5px var(--grey-secondary);
}

.education__subtitle {
    color: var(--black-main);
    margin: 1rem 0;
    font-size: 1.7rem;
    font-weight: bold;
}

.education__text {
    font-size: 1.5rem;
    text-align: justify;
}

.education__description {
    margin: 1rem 0;
}

.education__subtitle {
    color: var(--black-main);
    font-size: 1.8rem;
    font-weight: bold;
}

.education__text {
    font-size: 1.6rem;
    color: var(--black-main);
    text-align: justify;
    line-height: 2.4rem;
}

/** ABOUT SKILLS **/ 

.about__skills {
    margin-bottom: 1rem;
}

.skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.skills__list-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    flex-basis: 40%;
}

.list-me__icon {
    color: var(--green-main);
    font-size: 2rem;
    margin-right: 1rem;
}

.list-me__icon:hover,
.extra__icon:hover {
    color: var(--black-main);
}

.list__me-text {
    font-size: 1.6rem;
    color: var(--black-main);
    font-weight: 600;
    text-align: center;
}


/** INFORMATION EXTRA **/ 

.extra__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container__other {
    border: solid 1px var(--green-main);
    flex-basis: calc(33% - 3rem);
    margin: 1rem 1rem;
    padding: 2.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 300ms ease-in-out;
}

.container__other:hover{
    box-shadow: 0 18px 24px -5px var(--green-main);
    transform: translateY(-1rem);
}

.extra__subtitle {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--black-main)
}

.extra__text {
    font-size: 1.6rem;
    color: var(--black-main);
    font-weight: 600;
}

.extra__icon {
    color: var(--green-main);
    font-size: 3.3rem;
    margin-bottom: 1rem;
}


/** TRAINING **/ 

.training__container {
    width: 100%;
    display: flex;
    flex-direction: row;
}